@model ControleGastos.Models.ControleViewModels.PessoaIndexData

@{
    ViewData["Title"] = "Pessoas";
}

<h2>Instructors</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pessoas)
        {
            string selectedRow = "";
            if (item.Id == (int?)ViewData["InstructorID"])
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idade)
                </td>
                @*<td>
                    @if (item.OfficeAssignment != null)
                    {
                        @item.OfficeAssignment.Location
                    }
                </td>
                <td>
                    @foreach (var course in item.CourseAssignments)
                    {
                        @course.Course.CourseID @course.Course.Title <br />
                    }
                </td>*@
                <td>
                    <a asp-action="Index" asp-route-id="@item.Id">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
           }
    </tbody>
</table>
@if (Model.Transacaos != null)
{
    <h3>Transações do Usuário</h3>
    <table class="table">
        <tr>
            <th>Tipo</th>
            <th>Valor</th>
        </tr>

        @foreach (var item in Model.Transacaos)
        {
            string selectedRow = "";
            <tr class="@selectedRow">
                @*<td>
                    @Html.ActionLink("Select", "Index", new { courseID = item.CourseID })
                </td>*@
                <td>
                    @item.Tipo
                </td>
                <td>
                    @item.Valor
                </td>
            </tr>
        }

    </table>
}